$color-primary: #FF8310;
$color-bg-dark: #191A20;
$color-bg-header: #232323;
$color-bg-elevated: #393939;
$color-bg-button-secondary: #494949;
$color-border-header: rgba(255, 255, 255, 0.21);
$color-text-muted: #CCCCCC;
$color-white: #FFFFFF;